.header
{
    background-color: #196EBF;
    color:#FFFFFF;
    padding-left: 3.5%;
    
}

.header-font
{
   
    font-size: 27px;
}
.user{
    font-size: 18px;
      display: inline;
     
      
  }

.profile-icon
{ 
    font-size:150%;
    padding-right: 2%;
   
}
