<div class="body">
    Update Profile
<mat-card class="card">
    <!---Begins tab code-->
    <mat-tab-group class="stretched-tabs mat-elevation-z4">
      <form [formGroup]="profileForm">
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">circle</mat-icon>
              <span class="tab-heading">General</span>
            </ng-template>
         
            <div class="info">
                <mat-icon class="info-icon">person</mat-icon><span class="content">Basic Information</span> 
            </div>
          
            <!--1st row of the form-->
            <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="Your first name">
                  <mat-hint>Only Alphabets</mat-hint>
                </mat-form-field>
              </div>
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Your last name">
                  <mat-hint>Only Alphabets</mat-hint>
                </mat-form-field>
              </div>
            </div>
             <!--2nd row of the form-->
             <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Date of Birth</mat-label>
                  <input matInput [matDatepicker]="picker1" [formControl]="date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-hint>Choose DOB using date picker</mat-hint>
                </mat-form-field>
              </div>
              <div fxFlex="auto">
                 <fieldset class="radio-button-field"><legend>Gender</legend>
                  <mat-radio-group fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="5%" aria-label="Gender" labelPosition="after">
                      <mat-radio-button fxLayoutAlign="start center" value="1">Female</mat-radio-button>
                      <mat-radio-button fxLayoutAlign="start center" value="2">Male</mat-radio-button>
                      <mat-radio-button fxLayoutAlign="start center" value="3">Other</mat-radio-button>
                    </mat-radio-group>
                  </fieldset>
              </div>
            </div>

            <!--3rd row of the form-->
            <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Position applied for</mat-label>
                  <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                    <mat-option value="three">Third option</mat-option>
                    <mat-option value="four">Fourth option</mat-option>
                    <mat-option value="five">Fifth option</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Employee Reference</mat-label>
                  <input matInput placeholder="Employee details">
                  <mat-hint>Optional</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>

            <!--4th row-->
            <div class="info">
              <mat-icon class="info-icon">home</mat-icon><span class="content">Contact</span> 
           </div>
           

           <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
            <div fxLayoutAlign="start center" fxFlex="auto">
              <mat-form-field appearance="outline">
                <mat-label>Mobile number</mat-label>
                <input matInput placeholder="Mobile number">
                 <mat-icon matSuffix>stay_current_portrait</mat-icon>
                <mat-hint>Include country code</mat-hint>
              </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxFlex="auto">
              <mat-form-field appearance="outline">
                <mat-label>Home phone number</mat-label>
                <input matInput placeholder="Home phone number">
                 <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Include country code</mat-hint>
              </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxFlex="auto">
              <mat-form-field appearance="outline">
                <mat-label>Office number</mat-label>
                <input matInput placeholder="Office number">
                 <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Include country code</mat-hint>
              </mat-form-field>
            </div>
           </div>

           <!--5th row-->
           
            <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
            <div fxLayoutAlign="start center" fxFlex="auto">
              <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" required>
                <mat-icon matSuffix>contact_mail</mat-icon>
                <!--mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error-->
              </mat-form-field>
            </div>
            <div fxLayoutAlign="start center" fxFlex="auto">
            </div>
            </div>
            <!--6th row Present address fields-->
            <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Present Address</mat-label>
                  <textarea matInput></textarea>
                 </mat-form-field>
              </div>
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Locality</mat-label>
                  <input matInput>
                 </mat-form-field>
              </div>
              </div>
               <!--7th row-->
            <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput>
                 </mat-form-field>
              </div>
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Pincode</mat-label>
                  <input matInput>
                 </mat-form-field>
              </div>
              </div>
               <!--8th row-->
            <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>District</mat-label>
                  <input matInput>
                 </mat-form-field>
              </div>
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <input matInput>
                 </mat-form-field>
              </div>
              </div>
               <!--9th row-->
            <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Country</mat-label>
                  <input matInput>
                 </mat-form-field>
              </div>
              <div fxLayoutAlign="start center" fxFlex="auto">
                <mat-form-field appearance="outline">
                  <mat-label>Land mark</mat-label>
                  <input matInput>
                 </mat-form-field>
              </div>
              </div>

              <!--10th row Permanent address-->
              <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-checkbox class="permanent-add-checkbox">Permenant address same as present address</mat-checkbox>
                </div>
              </div>
              <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-form-field appearance="outline">
                    <mat-label>Permanent Address</mat-label>
                    <textarea matInput></textarea>
                   </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-form-field appearance="outline">
                    <mat-label>Locality</mat-label>
                    <input matInput>
                   </mat-form-field>
                </div>
                </div>
                 <!--11th row-->
              <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput>
                   </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-form-field appearance="outline">
                    <mat-label>Pincode</mat-label>
                    <input matInput>
                   </mat-form-field>
                </div>
                </div>
                 <!--12th row-->
              <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-form-field appearance="outline">
                    <mat-label>District</mat-label>
                    <input matInput>
                   </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput>
                   </mat-form-field>
                </div>
                </div>
                 <!--13th row-->
              <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput>
                   </mat-form-field>
                </div>
                <div fxLayoutAlign="start center" fxFlex="auto">
                  <mat-form-field appearance="outline">
                    <mat-label>Land mark</mat-label>
                    <input matInput>
                   </mat-form-field>
                </div>
                </div>
               
                 <!--14th row-->
              <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                <div fxFlex="auto">
                  <fieldset class="radio-button-field"><legend>Do you have a passport?</legend>
                    <mat-radio-group fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="5%" aria-label="passport" labelPosition="after">
                        <mat-radio-button fxLayoutAlign="start center" value="1">Yes</mat-radio-button>
                        <mat-radio-button fxLayoutAlign="start center" value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </fieldset>
                </div>
                <div fxFlex="auto">
                  <fieldset class="radio-button-field"><legend>Do you have a visa?</legend>
                    <mat-radio-group fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="5%" aria-label="Do you have visa" labelPosition="after">
                        <mat-radio-button fxLayoutAlign="start center" value="1">Yes</mat-radio-button>
                        <mat-radio-button fxLayoutAlign="start center" value="2">No</mat-radio-button>
                      </mat-radio-group>
                    </fieldset>
                </div>
                </div>
                <br>
                <mat-divider [inset]="true"></mat-divider>
                <!---FAmily details heading-->
                <div class="info">
                  <mat-icon class="info-icon">groups</mat-icon><span class="content">Family Details</span> 
               </div>
                <!--15th row-->
                <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                  <div fxFlex="auto">
                    <fieldset class="radio-button-field"><legend>Marital status</legend>
                      <mat-radio-group formControlName="maritalStatus" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="5%" aria-label="Gender" labelPosition="after">
                          <mat-radio-button fxLayoutAlign="start center" value="1">Single</mat-radio-button>
                          <mat-radio-button fxLayoutAlign="start center" value="2">Married</mat-radio-button>
                          <mat-radio-button fxLayoutAlign="start center" value="3">Divorced</mat-radio-button>
                          <mat-radio-button fxLayoutAlign="start center" value="4">widowed</mat-radio-button>
                          <mat-radio-button fxLayoutAlign="start center" value="5">Separated</mat-radio-button>
                          <mat-radio-button fxLayoutAlign="start center" value="6">Other</mat-radio-button>
                        </mat-radio-group>
                      </fieldset>
                  </div>
                  
                </div>
                    <!--16th row-->
                    <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                      <div fxFlex="auto">
                       <fieldset fxLayout="column" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%" class="radio-button-field table-view"><legend>Family members</legend>
                        <table fxFlex="auto">
                          <tr class="table-header">
                            <th>Name</th>
                            <th>Relationship</th>
                            <th>Age</th>
                            <th>Occupation/Organization</th>
                            <th>Action</th>
                          </tr>
                          <tr>
                            <td> <mat-form-field appearance="outline">
                             <input matInput formControlName="memberName">
                             </mat-form-field>
                            </td>
                            <td>
                              <mat-form-field appearance="outline">
                                 <mat-select formControlName="memberRelationship">
                                  <mat-option value="one">First option</mat-option>
                                  <mat-option value="two">Second option</mat-option>
                                  <mat-option value="three">Third option</mat-option>
                                  <mat-option value="four">Fourth option</mat-option>
                                  <mat-option value="five">Fifth option</mat-option>
                                </mat-select>
                              </mat-form-field>
                              
                            </td>
                            <td> <mat-form-field appearance="outline">
                              <input matInput formControlName="memberAge">
                             </mat-form-field>
                            </td>
                            <td> 
                              <mat-form-field appearance="outline">
                              <input matInput formControlName="memberOccupation">
                             </mat-form-field>
                            </td>
                            <td><button mat-icon-button color="primary"><mat-icon>save</mat-icon></button>
                              <button mat-icon-button color="primary"><mat-icon>delete</mat-icon></button>
                            </td>
                          </tr>
                        </table>
                        <div fxLayoutAlign="center center" fxFlex="auto">
                        <button class="addButton"><mat-icon>add</mat-icon></button> 
                      </div>
                      </fieldset>
                      </div>
                    </div>
                <br>
                <mat-divider [inset]="true"></mat-divider>
              <!---Education details heading-->
              <div class="info">
                <mat-icon class="info-icon">school</mat-icon><span class="content">Educational Details</span> 
              </div>
                <!--17th row-->
                <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                  <div fxLayoutAlign="start center" fxFlex="auto">
                    <mat-form-field appearance="outline">
                      <mat-label>Course pursued</mat-label>
                      <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                        <mat-option value="three">Third option</mat-option>
                        <mat-option value="four">Fourth option</mat-option>
                        <mat-option value="five">Fifth option</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="start center" fxFlex="auto">
                    <mat-form-field appearance="outline">
                      <mat-label>Name of the college instuition</mat-label>
                      <input matInput>
                     </mat-form-field>
                  </div>
                  </div>

                   <!--18th row-->
                <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayout.sm="column" fxLayoutGap="1%">
                  <div fxLayoutAlign="start center" fxFlex="auto">
                    <mat-form-field appearance="outline">
                      <mat-label>From</mat-label>
                      <input matInput placeholder="Duration">
                      <mat-hint>Enter in MM/YYYY format</mat-hint>
                     </mat-form-field>
                  </div>
                  <div fxLayoutAlign="start center" fxFlex="auto">
                    <mat-form-field appearance="outline">
                      <mat-label>To</mat-label>
                      <input matInput  placeholder="Duration">
                      <mat-hint>Enter in MM/YYYY format</mat-hint>
                     </mat-form-field>
                  </div>
                  <div fxLayoutAlign="start center" fxFlex="auto">
                    <mat-form-field appearance="outline">
                      <mat-label>CGPA obtained</mat-label>
                      <input matInput>
                     </mat-form-field>
                  </div>
                </div>
                <br>
                <mat-divider [inset]="true"></mat-divider>
  <!---Skill set details heading-->
  <div class="info">
    <mat-icon class="info-icon">menu_book</mat-icon><span class="content">Skillset Details</span> 
  </div>
  <br>
                <mat-divider [inset]="true"></mat-divider>
  <!---Professional details heading-->
  <div class="info">
    <mat-icon class="info-icon">work_history</mat-icon><span class="content">Professional Details</span> 
  </div>
  <br>
                <mat-divider [inset]="true"></mat-divider>
  <!---Other details heading-->
  <div class="info">
    <mat-icon class="info-icon">interests</mat-icon><span class="content">Other Details</span> 
  </div>
  <div class="info">
    <button><mat-icon>submit</mat-icon></button>  
  </div> 

           
               </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">circle</mat-icon>
              <span class="tab-heading">Education</span>
            </ng-template>
            Content 1
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">circle</mat-icon>
              <span class="tab-heading">Skillset</span>
            </ng-template>
            Content 1
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">circle</mat-icon>
              <span class="tab-heading">Professional</span>
            </ng-template>
            Content 1
          </mat-tab>
      </form>
      </mat-tab-group>
     
    </mat-card>
</div>